<script>
    $(document).ready(function () {
        $.getJSON("{{ '/assets/data/google_scholar/gs_data.json' | relative_url }}", function (data) {
            var totalCitation = data['citedby'];
            var totalCitationEle = document.getElementById('total_cit');
            if (totalCitationEle && totalCitation !== undefined) {
                totalCitationEle.innerHTML = totalCitation;
            }
            var citationEles = document.getElementsByClassName('show_paper_citations')
            Array.prototype.forEach.call(citationEles, element => {
                var paperId = element.getAttribute('data')
                if (data['publications'] && data['publications'][paperId]) {
                    var numCitations = data['publications'][paperId]['num_citations']
                    element.innerHTML = '| Citations: ' + numCitations;
                }
            });
        });
    })
</script>
